.header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}
.topRow {
    margin: 1rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius) var(--border-radius) 0 0;

}
.button {
    display: flex;
        align-items: center;
        gap: 0.5rem;
}
.circles {
    display: flex;
        align-items: center;
        gap: 0.25rem;
}
.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2.5px solid #1a1a1a;
    background: transparent;
       box-shadow: 2px 2px 0px #1a1a1a;
}
.navButton {
    padding: 0;
    background: none;
    cursor: pointer;
    border: none;
    color: var(--foreground);
}
.currentPage {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary);
}
.title {
    font-size: 18px;
    text-decoration: none;
    color: var(--primary);
}

.expandedMenu {
    margin: 0 2rem 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--background);
}

.menuButton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: none;
    padding: 0.75rem 1.5rem;
    text-align: left;
    cursor: pointer;

    font-family: var(--font-sans);
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--primary);

    border: var(--border);
    border-top: none;
    border-right: none;
}
.menuButton:nth-child(3n) {
    border-right: var(--border);
}


@media (max-width: 768px) {
    .expandedMenu {
        grid-template-columns: repeat(2, 1fr);
    }

    .menuButton:nth-child(3n) {
        border-right: var(--border);
    }

    .menuButton:nth-child(2n) {
        border-right: none;
    }
}


