@import "tailwindcss";
:root {
    --background: #FDF9EE;
    --foreground: #FFFFFF;
    --primary: #3E4082;
    --muted: #9F9D98;
    --text: var(--primary);

    --border: 1.5px solid var(--primary);
    --font-primary: var(--font-serif);
}
body {  
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--background);
    color: var(--primary);
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-weight: 500;
}